body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(40, 39, 39);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-container{
  padding: 2vw;
  display: flex;
  gap: 2vw;
  
}

.card{
  /* display: flex; */
  height: 75vh;
  width: 28vw;
  border: 2px solid black;
  padding: 1vw;
  overflow:hidden;
  border-radius: 13px;
  box-shadow: rgb(78, 77, 77) 6px 8px 5px;
  color: white;
  background-color: black;
}

.op-img{
  height: 55vh;
  width: 28vw;
  margin: 2px;
  border-radius: 13px;
}

.card-data{
  margin-left: 18px;
  /* display: flex; */
}

.detailed-container{
  /* width: 100vw;
  height: 100vh; */
  background-color: rgb(241, 237, 237);
}

.details{
  margin: 20px;
  margin-left: 10vw;
  margin-right: 10vw;
  height: 80vh;
  width: 80vw;
  background-color: white;
  position: relative;
  display: flex;
  gap: 30px;
}

.details-left h1{
  margin-left: 2vw;
}

.details-left img{
  margin-left: 2vw;
  width: 38vw;
  height: 70vh;
}

.details button {
  position: absolute;
  top: 5px;
  right: 8px;
}

.details-right{
  width: 35vw;
  height: 70vh;
  margin-top: 10vh;
  overflow: scroll;
  font-size: 20px;
  padding-right: 12px;
}

.big-container{
  position: relative;
}

.show-more{
  position: absolute;
  left:47vw;
  width: 6vw;
  height: 4vh;
  background-color: black;
  color: white;
  border-radius: 15px;
  font-weight: bolder;
}

.show-more:hover{
  /* width: 6.5rem; */
  background-color: rgb(245, 242, 242);
  color: black;
  font-weight: bolder;
}


.more-cards-container{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 2vw;
}

.sub-details{
  display: flex;
  position: relative;
  justify-content: space-around;
  height: 35px;
  font-size: small;
  /* background-color: rgb(46, 45, 45);
  border-radius: 12px; */
}

.card-genre{
  position: absolute;
  left: 8px;
  font-weight: bold;
}
.card-side-details{
  position: absolute;
  right: 15px;
  font-weight: bold;
}

.navbar{
  height: 5vh;
  width: 98%;
  margin: 1%;
  /* border: 2px solid black; */
  border-radius: 24px;
  position: sticky;
  top: 3px;
  z-index: 4;
  background-color: white;
  display: flex;
  background: radial-gradient(circle at 10% 20%, rgb(2, 2, 2) 0%, rgb(100, 100, 99) 90%);
}

.anime-head{
  position: relative;
  top: 5vh;
  color: rgb(211, 210, 210);
}

.site-head{
  position: absolute;
  display: flex;
  gap: 3px;
  left: 30%;
  top: 2%;
  width: 15%;
  font-size: 30px;
  font-weight: bolder;
}

.site-head :first-child{
  color: white;
}

.site-head :last-child{
  background: -webkit-linear-gradient(rgb(41, 240, 48), rgb(5, 87, 5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.srch-container{
  position: absolute;
  display: flex;
  right: 10%;
  top: 20%;
  width: 18%;
  height: 60%;
}

.search{
  width: 75%;
  position: absolute;
  display: flex;
}
.srch-btn{
  position: absolute;
  display: flex;
  right: 12%;
}

.hamburger{
  position: absolute;
  right: 2%;
  top: 22%;
}

.logo{
  position: relative;
  left: 3%;
  width: 3%;
}

.logo img{
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.hamburger{
  position: absolute;
  background: none;
  border: none;
  right: 2%;
  height: 75%;
  width: 3%;
}

.menu{
  height: 100%;
  width: 100%;
}

.filter-container{
  position: fixed;
  background-color: rgb(18, 17, 17);
  width: 33%;
  height: 100%;
  right: 0px;
  top: 0px;
  padding-top: 1%;
  z-index: 4;
}

.top-container{
  display: flex;
}

.filter-head{
  font-size: 36px;
  color: rgb(211, 210, 210);
  font-weight: bolder;
  margin-left: 8%;
  margin-top: 1%;
}

.close{
  position: fixed;
  right: 2%;
}


.filter{
  width: 85%;
  list-style: none;
  background-color: rgb(60, 59, 59);
  height: 10vh;
  margin-top: 8vh;
  margin-bottom: 4vh;
  padding: 5%;
  border-radius: 10px;
  color: rgb(211, 210, 210);
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.filter:hover{
  color: white;
  background-color: rgb(97, 96, 96);
}

.card-data h2{
  /* background-color: rgb(46, 45, 45);
  border-radius: 12px; */
  padding-left: 2%;
}

.filter-options{
  width: 85%;
  height: 7vh;
  margin-left: 3vw;
  display: flex;
  gap: 20%;
  font-weight: bolder;
}

.filter-reset{
  color: rgb(167, 164, 164);
  /* background-color: rgb(45, 44, 44); */
  background-color: rgb(18, 17, 17);
  width: 38%;
  height: 85%;
  border-radius: 25px;
  font-size: 24px;
  text-align: center;
  padding-top: 3%;
  /* border: 2px solid white; */
}

.filter-reset:hover{
  /* background-color: white; */
  color: white;
}

.filter-apply{
  color: black;
  background-color: white;
  width: 38%;
  height: 85%;
  border-radius: 25px;
  font-size: 24px;
  text-align: center;
  padding-top: 3%;
  border: 2px solid rgb(99, 98, 98);
}

.filter-apply:hover{
  color: white;
  background-color: rgb(45, 44, 44);
  border: 2px solid white;
  width: 39%;
  height: 87%;
}
.filter-input{
  width: 97%;
  margin: 1vh;
}

.slider{
  width: 100%;
  filter: invert(1);
}

.value{
  background-color: rgb(18,17,17);
  width: 18%;
  margin-left: 41%;
  border-radius: 14px;
}

.filter-genre{
  height: 14vh;
}

.genre-names{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 14px;
  margin-top: 1vh;
}

.unselected-genre{
  padding: 5px;
  width: auto;
  height: 80%;
  background-color: black;
  border: 1px solid white;
  color:rgb(211, 210, 210);
  border-radius: 16px;
  cursor: pointer;
}

.unselected-genre:hover{
  color: white;
}

.selected-genre{
  padding: 5px;
  width: auto;
  height: 80%;
  background-color: white;
  border: 2px solid black;
  color:rgb(0, 0, 0);
  border-radius: 16px;
  cursor: pointer;
}





